<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script async src="myscript.js"></script>
	
    <title>Example</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand text-white">Navbar</a>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">UPLOAD</button>
    </nav>

    <div id="inner" class="inner_remaining">
        <ul class="years">
        </ul>

        <div id="axis_id" class="axis">
          <div id="bar_id" class='bar-div'>
          </div>
        </div>
        
        <ul class="years">
        </ul>
    </div>
  </body>
</html>